$theme-colors: (
  'primary': #2561e0,
  'info': #be63e3,
  'success': #4caf50,
  'warning': #ff7a00,
  'danger': #f44330
) !default;

// $btn-padding-y:               .2rem !default;
$btn-padding-x:               1.2rem !default;
$btn-padding-x-sm:            .8rem !default;
$btn-padding-x-lg:            1.6rem !default;
$btn-border-radius:           3px !default;
$btn-border-radius-sm:        3px !default;
$btn-border-radius-lg:        3px !default;

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

$font-family-base:   roboto, $font-family-sans-serif !default;
$headings-font-family: lato, $font-family-sans-serif !default;

@import '~bootstrap/scss/bootstrap';

@import 'ripple';
@import 'buttons/gradients';
@import 'buttons/plastic';

body {
  min-height: 100vh;
}
footer {
  background-color: $gray-400;
}

pre {
  @extend .shadow-sm;
  @extend .rounded;
}
