$theme-colors: (
  'primary': #2561e0,
  'info': #be63e3,
  'success': #4caf50,
  'warning': #ff7a00,
  'danger': #f44336
) !default;

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

$font-family-base:   roboto, $font-family-sans-serif !default;
$headings-font-family: lato, $font-size-base !default;

@import 'buttons/bootcamp';

@import '~bootstrap/scss/bootstrap';

@import 'ripple';

@import 'buttons/gradients';
@import 'buttons/plastic';

body {
  min-height: 100vh;
}
footer {
  background-color: $gray-400;
}

pre {
  @extend .shadow-sm;
  @extend .rounded;
}
