.effect-ripple {
  position: relative;
  overflow: hidden;
}

.ripple {
  position: absolute;
  padding: 0;
  margin: 0;
  overflow: hidden;
  pointer-events: none;
  background: rgba(255, 255, 255, .15);
  border-radius: 100%;
  transform: scale(0);
}

.ripple.show {
  animation: ripple .75s ease-out;
}

@keyframes ripple {
  to {
    opacity: 0;
    transform: scale(2);
  }
}

@each $color, $value in $theme-colors {
  .btn-#{$color} > .ripple {
    background: transparentize(lighten($value, 30%), .6);
  }
}
