<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Buttons - Bootbox by Syntro</title>
    <link rel="stylesheet" href="/bootbox/assets/bundle.css">
     <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

  </head>
  <body class="d-flex flex-column">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/bootbox/">Bootbox</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="Navbar">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="ComponentDropdownLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Components
          </a>
          <div class="dropdown-menu" aria-labelledby="ComponentDropdownLink">
            
              <a class="dropdown-item" href="/components/buttons.html">Buttons</a>
            
          </div>
        </li>
      </ul>
    </div>


  </div>
</nav>

    <div class="box flex-grow-1">
      <div class="container mt-3">
        <h1 id="buttons">Buttons</h1>
<hr />

<div class="my-3">
  <!-- Bootcamp -->
  <div class="my-4">
    <h4>Bootcamp</h4>
    <p>
      Buttons in Bootstrap are an important tool to build an interface.
      We have created a button bootcamp which strengthens buttons visually
      by increasing the padding, therefore making Buttons more impactful.
      <br />
      We recommend choosing another font-family to make buttons even
      more impactful.
    </p>
    <div class="mx-3">
      <button class="btn btn-sm btn-primary">small button</button>
      <button class="btn btn-primary">normal button</button>
      <button class="btn btn-lg btn-primary">large button</button>
    </div>
  </div>

  <!-- Gradients -->
  <div class="my-4">
    <h4>Gradients</h4>
    <p>
      Use Gradient buttons for an engaging user-experience
    </p>
    <div class="m-3">
      <button class="btn btn-sm btn-gradient-primary">primary</button>
      <button class="btn btn-sm btn-gradient-info">info</button>
      <button class="btn btn-sm btn-gradient-success">success</button>
      <button class="btn btn-sm btn-gradient-warning">warning</button>
      <button class="btn btn-sm btn-gradient-danger">danger</button>
    </div>
    <div class="m-3">
      <button class="btn btn-gradient-primary">primary</button>
      <button class="btn btn-gradient-info">info</button>
      <button class="btn btn-gradient-success">success</button>
      <button class="btn btn-gradient-warning">warning</button>
      <button class="btn btn-gradient-danger">danger</button>
    </div>
    <div class="m-3">
      <button class="btn btn-lg btn-gradient-primary">primary</button>
      <button class="btn btn-lg btn-gradient-info">info</button>
      <button class="btn btn-lg btn-gradient-success">success</button>
      <button class="btn btn-lg btn-gradient-warning">warning</button>
      <button class="btn btn-lg btn-gradient-danger">danger</button>
    </div>
  </div>

  <!-- Plastic -->
  <div class="my-4">
    <h4>Plastic</h4>
    <p>
      This effect is intended to mimic material design.
    </p>

    <div class="m-3">
      <button class="btn btn-plastic btn-sm btn-primary">primary</button>
      <button class="btn btn-plastic btn-sm btn-info">info</button>
      <button class="btn btn-plastic btn-sm btn-success">success</button>
      <button class="btn btn-plastic btn-sm btn-warning">warning</button>
      <button class="btn btn-plastic btn-sm btn-danger">danger</button>
    </div>
    <div class="m-3">
      <button class="btn btn-plastic btn-primary">primary</button>
      <button class="btn btn-plastic btn-info">info</button>
      <button class="btn btn-plastic btn-success">success</button>
      <button class="btn btn-plastic btn-warning">warning</button>
      <button class="btn btn-plastic btn-danger">danger</button>
    </div>
    <div class="m-3">
      <button class="btn btn-plastic btn-outline-primary">primary</button>
      <button class="btn btn-plastic btn-outline-info">info</button>
      <button class="btn btn-plastic btn-outline-success">success</button>
      <button class="btn btn-plastic btn-outline-warning">warning</button>
      <button class="btn btn-plastic btn-outline-danger">danger</button>
    </div>
    <div class="m-3">
      <button class="btn btn-plastic btn-lg btn-primary">primary</button>
      <button class="btn btn-plastic btn-lg btn-info">info</button>
      <button class="btn btn-plastic btn-lg btn-success">success</button>
      <button class="btn btn-plastic btn-lg btn-warning">warning</button>
      <button class="btn btn-plastic btn-lg btn-danger">danger</button>
    </div>
    <p>This plays nicely with the ripple effect:</p>
    <div class="m-3">
      <button class="btn btn-plastic btn-primary effect-ripple">Button with ripple effect</button>
      <button class="btn btn-plastic btn-gradient-primary effect-ripple">Button with ripple effect</button>
    </div>
  </div>

</div>

      </div>
    </div>
    <footer class="footer flex-grow-0">
  <div class="container py-4">
      <h5>Bootbox</h5>
  </div>
  <div class="text-muted small py-2 bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 text-center text-md-left">
          &copy; 2020 Syntro GmbH
        </div>
      </div>
    </div>
  </div>
</footer>

    <script src="/bootbox/assets/bundle.js"></script>
  </body>
</html>
